.card {
  perspective: 150rem; //gives element depth - helpful on rotations to turn a 2D rotation into a 3D rotation
  -moz-perspective: 150rem; //not yet working in mozilla without
  position: relative;
  height: 50rem; //height collapses with absolute positioning

  &__side {
    background-color: orangered;
    color: white;
    font-size: 2rem;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; //so they are both the same size
    backface-visibility: hidden;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15); // make shadow variables


    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(-180deg);


      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}