.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: .2rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    //this give a padding between the image or content and the border-like outline
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      //this is the outline feature that works like a border, but you can add an offset with this property see the composition__photo selector above
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translate(-.5rem);
      box-shadow: 0 1.5rem 4rem rgba($color-black, .5);
      z-index: 20;
    }

  }

  // compostion:hover compostion__photo:not(:hover) 
  // so when hovering the container holding the photos, we select the photos that are not being hovered and scale them smaller
  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }

}